html{
  /*Растягиваем окно на ширину экрана. Ширина блока с полями */
  box-sizing: border-box ;

}
body{
  /*определяем внешний отступ на всех четырех сторонах элемента, то есть его нет */
  margin: 0;
  /*высота секции равна высоте области просмотра*/
  min-height: 100vh;
 
}