 /*Импорт гугловских шрифтов сайт - https://fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
  /*Растягиваем окно на ширину экрана. Ширина блока с полями */
  box-sizing: border-box ;

}
body{
  /*определяем внешний отступ на всех четырех сторонах элемента, то есть его нет */
  margin: 0;
  /*высота секции равна высоте области просмотра*/
  min-height: 100vh;
  /*выбираем цвет заднего фона*/
  background-color: #f8f5fd;
   /*загружаем фоновый принт с сайта https://www.heropatterns.com/*/
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  /*выбор цвета шрифта*/
  color: #000;
  /*выбор шрифта и его стилистику (гладкие окончания)*/
  font-family: Lobster, sans-serif ;
  /*выбор размера шрифта*/
  font-weight: 700;
  /*выбор размещения текста*/
  text-align: center;
   /*выбор размещения блока с текстом*/
  display: flex;
  /*выравнивает flex-элементы текущей flex-линии*/
  align-items: center;
  /*как браузер распределяет пространство между и вокруг элементов контента вдоль главной оси flex контейнер*/
  justify-content: center;

}
.quote-container{
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.4);
  box-shadow: 0 10px 10px 10px rgba(0,0,0,0.2);
}
.quote-text{
  font-size: 2.75rem;
}

.long-quote{
  font-size: 2rem;
}
.fa-qoute-left{
  font-size: 4rem;
}
.quote-author{
  margin-top: 15px;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}

@media screen and (max-width: 1000px){
  .quote-container{
    margin: auto 10px;
  }

  .quote-text{
    font-size: 2.5rem;
  }
}